/*
        * @description: banner切换样式
        * @author: lanfeng(beryl)
        * @time:2013-02-26
        */
/* reset*/
*

h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}

address, em {
	font-style: normal;
}

code, kbd, pre, samp {
	font-family: courier new, courier, monospace;
}

ul, ol {
	list-style: none outside none;
}

fieldset, img {
	border: 0;
}

img {
	vertical-align: middle
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
	*font-size: 100%;
}

input, button, textarea, select {
	vertical-align: middle;
	font: 100% Helvetica, Arial, sans-serif;
	color: inherit
}

.clearfix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
}

.clear {
	font-size: 0;
	line-height: 0;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}

.d-ftab {
	/*width: 510px;*/
	height: 180px;
	position: relative;
	margin: 100px auto;
}

.d-fShow ul li {
	float: left;
	width: 510px;
	height: 180px;
}

.d-fShow {
	width: 510px;
	height: 180px;
	overflow: hidden;
}

.d-fShow img {
	width: 510px;
	height: 180px;
	float: left;
}

.d-fs-control {
	position: absolute;
	width: 510px;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 25px;
	line-height: 25px;
	background: rgba(0, 0, 0, 0.4);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#66000000', EndColorStr='#66000000');
}

:root  .d-fs-control {
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,
		StartColorStr='#66000000', EndColorStr='#66000000')\9 ;
}

.d-fs-control ul {
	position: absolute;
	bottom: 3px;
	right: 5px;
	height: 16px;
}

.d-fs-control ul li {
	width: 16px;
	height: 16px;
	background: #777675;
	border-radius: 2px 2px 2px 2px;
	float: left;
	margin-left: 5px;
	color: #dcdcdc;
	text-align: center;
	font-weight: 700;
	cursor: pointer;
	line-height: 16px;
	filter: alpha(opacity = 70);
	opacity: 0.7;
}

.d-fs-control ul li:hover, .d-fs-control ul li.select {
	background: #ffffff;
	color: #ff6700;
}