@charset "utf-8";
/*@import url(reset.css);*/
/*@import url(myDialog.css);/
/**************************common class********************************/

body{
	/* min-height: 320px */
}
*{ paddng:0; margin:0;box-sizing:}
ul li{ list-style:none;}
a{ text-decoration:none;}
.container{
	max-width:640px;
	margin:auto;
	min-height:100%;
	display:block;
	background-size:100% 100%;
	-webkit-box-sizing: border-box;
	min-width:320px;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.ofh {
	overflow: hidden;
}
.align_left {
	text-align: left;
}
.align_right {
	text-align: right;
}
.align_center {
	text-align: center;
}
.vertical_top {
	vertical-align: top;
}
.vertical_middle {
	vertical-align: middle;
}
.vertical_bottom {
	vertical-align: bottom;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.hidden {
	display: none;
}
.hidden.on {
	display: block;
}
.vhidden {
	visibility: hidden;
}
.vhidden.on {
	visibility: visible;
}
/*.empty:empty {
	display: none;
}*/
.block {
	display: block;
}
.inlineBlock {
	display: inline-block;
}


.wbox {
    display: -webkit-box;
    -webkit-box-align: center;
}

.box {
	padding:0;
	width: 100%;
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	
}
.box > * {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
}
.tbox {
	width: 100%;
	height: 100%;
}
.tbox > * {
	height: 100%;
	display: table-cell;
	vertical-align: top;
}
.tbox > *:last-child {
	width: 100%;
}

.fn-clear:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
}

/* footer .copyright{
	color:#000000;
	line-height:25px;
	display: block;
	visibility: hidden;
	text-align:center;
	padding:5px;
	overflow: hidden;
}
.section-body.on ~ footer .copyright{
	visibility:visible;
}
footer .copyright a{
	color: inherit;
} */
/***************************************************/
.loading_icon {
	position: absolute;
	left:50%;
	top:0;
	margin-left:-12px;
	z-index:10;
	width: 24px;
	height: 24px;
	border: 2px solid #237FE5;
	border-radius: 24px;
	-webkit-animation: gif 1s infinite linear;
	clip: rect(0 auto 12px 0);
}

@-webkit-keyframes gif{0%{-webkit-transform:rotate(0deg);}100%{-webkit-transform:rotate(360deg);}}

/**********loading dialog************/
.loading{
	position: fixed;
	z-index:1000;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.loading .widget_wrap{
	height:100%;
}
.loading .loading_mask{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
}
.loading .loading_wrap{
	display: inline-block;
	width:80px;
	height:80px;
	border-radius: 5px;
	background:red;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-40px;
	margin-left:-40px;
	background:rgba(0,0,0,0.0);
}
.loading .loading_icon{
	left:50%;
	top:50%;
	margin:-12px;
}
/*************button*************/
.button{
	
}


/*************widget-gotop*************/
.widget-gotop {
    display: none;
    position: fixed;
    bottom: 65px;
    right: 15px;
    background: rgba(0,0,0,0.48);
    border-radius: 50%;
    overflow: hidden;
    z-index: 500;
}
.widget-gotop .icon-gotop {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 63px;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    /*background: url(../images/w_2.png) no-repeat center -1110px;*/
    -webkit-background-size: 50px auto;
}

/*************widget-loading*************/
.widget-loading {
    padding: 20px 0;
    line-height: 20px;
    color: #848484;
    font-size: 12px;
    text-align: center;
    visibility: hidden;
}
.widget-loading .icon-loading {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: -7px 0;
    background: url(../imgs/loading.png) no-repeat center center;
    -webkit-background-size: 100%;
    -webkit-animation: circle 1s infinite linear;
}

@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

/******************************/
*[data-widget="widget_tip"] .widget_wrap{
	min-height:60px;
}

footer .nav a{
	color: #454545;
	font-size: 17px;
}


