@CHARSET "UTF-8";

/* ------------------------------------------------ 商品详情 ------------------------------------ */
.marquee_bar{
	background: white;
	display: block;
	width: 100%;
	position: relative;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.marquee_bar_container{
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
}
.marquee_bar_container .item{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: inline-block;
	text-align: center;
	background: white;
	line-height: 100%;
}
.marquee_bar_container .item img{
	background-position: center center;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}
.marquee_bar .marquee_btn{
	position: absolute;
	bottom: 1.8rem;
	left: 0px;
	display: block;
	width: 100%;
	text-align: center;
	color: white;
}
.marquee_bar .marquee_btn span{
	font-size: 1.8rem;
	padding: 0px 1px;
	color: #838383;
}
.goods_info_bar{
	display: block;
	background: white;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	overflow: hidden;
}
.goods_info_bar .title{
	font-size: 1.3rem; display:block;
	color: #474747;
	padding: 4px 16px 4px 16px;
	margin: 0px;
	height: auto;
}

.goods_info_bar .title .btl{ float:left; width:76%; padding-right:2px;border-right:solid 1px #d7d8da; height:32px; line-height:16px; font-size:1.5rem; overflow:hidden;}
.goods_info_bar .title .scr{ float:right; width:54px;  text-align:center; overflow:hidden; line-height:1.2rem; font-size:1rem;}
.goods_info_bar .title .scr img{ width:20px;}
.goods_info_bar .title span em{ display:block;font-style:normal; text-align: center;}
.goods_info_bar .sale_info{
	padding: 0px 16px 8px 16px;
	overflow: hidden;
}
.goods_info_bar .sale_info .yunfei{color: #9a9a9a;}
.goods_info_bar .sale_info .yunfei span{color: #ff6561;}
.goods_info_bar .sale_info .price{
	
	color: #9a9a9a;
	float: left;
	font-size: 1.2rem;

}
.goods_info_bar .sale_info .price .value{
	font-size: 2.4rem;color: #ff6561;
}
.goods_info_bar .sale_info .sale{
	color: #9a9a9a;
	float: right;
	font-size: 1.2rem;
}
.number_bar{
	display: block;
	background: white;
	padding: 2px 16px 2px 0px;
	margin: 0px 0px 0px 0px;
	overflow: hidden; clear:both;
}
.number_bar .calc{
	padding: 0px 0px 6px 4%;
	overflow: hidden;
}
.number_bar .calc .tag{
	font-size: 1.4rem;
	padding: 4px 6px 4px 0px;
	vertical-align: middle;
}
.number_bar .calc .counter{border: 1px solid #A5A7AB; float:left;
	padding: 0px 4px 0px 4px;
	overflow: hidden;

	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	height: auto;
}
.number_bar .calc .counter .add{
	/*padding: 0px 2px 0px 2px;*/
}
.number_bar .calc .counter .add img{
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	border: none;
}
.number_bar .calc .counter .reduce{
	padding: 0px 2px 0px 2px;
}
.number_bar .calc .counter .reduce img{
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	border: none;
}
.number_bar .calc .counter .num{border-left: 1px solid #A5A7AB; border-right: 1px solid #A5A7AB; border-top:0px; border-bottom:0px;
	width: 3.2rem;
	height: 2.2rem;
	vertical-align: middle;
	margin: 0px 2px 0px 2px;
	line-height: 24px;
	text-align: center;
	
	font-size: 1.6rem;
}
.number_bar .calc .stock{ 
	font-size: 1.4rem;
	padding: 0.6rem 0px 4px 6px;
	vertical-align: middle;
	font-size: 1.2rem;
	float: left;
	color: #9a9a9a;
}
.number_bar .calc .buynber{
	font-size: 1.4rem;
	padding: 5px 0px 4px 0px;
	vertical-align: middle;
	font-size: 1.2rem;
	float:left;
	color: #9a9a9a;
}
.goods_info_bar .select_panel{
	padding: 8px 0px 8px 0px;
	display: block;
	text-decoration: none;
	font-size: 1.4rem;
	color: black;
	overflow: hidden;
}
.goods_info_bar .select_panel .left{
	float: left;
}
.goods_info_bar .select_panel .right{
	float: right; padding-top:2px;
	padding-right: 16px;
}
.goods_info_bar .select_panel .right img{
	border: none;
	width: 1.6rem;
	vertical-align: middle;
}
.goods_shop_bar{
	border-bottom: 1px solid #e3e3e3;
	display: block;
	background: white;
	padding: 8px 2px 8px 12px;
	margin: 0px 0px 6px 0px;
	overflow: hidden;
}
.goods_shop_bar .logo{ padding-right:5px; padding-top:1px;
}

.goods_shop_bar .dpm{
font-size: 1.3rem;
	color: #9a9a9a;
	text-decoration: none;
	background: none;
	border: none;
display: table-cell;
	padding: 0px 4px 0px 0px;
	overflow: hidden; line-height:29px;
}
.goods_shop_bar .photo{  padding:2px 4px 0px 4px;
}
.goods_shop_bar .photo img{}
.goods_shop_bar .info{
	display: table-cell;
	padding: 0px 4px 0px 0px;
	overflow: hidden;
}
.goods_shop_bar .left{
	float: left;
}
.goods_shop_bar .right{
	float: right;
}
.goods_shop_bar .info .name{
	display: block;
	font-size: 1.2rem;
	color: #474747;
	padding-left: 2px;
}
.goods_shop_bar .info .tel{

	font-size: 1.2rem;
	color: #9a9a9a;
	text-decoration: none;
	background: none;
	border: none;
	padding: 0px 0px 0px 2px;
	margin: 0px 0px;
	text-align: left;
	overflow: hidden;
	width: 9.6rem;
	background-repeat: repeat-x;
	background-size: contain; line-height:29px;
}
.goods_shop_bar .info .tel img{
	border: none;
	width: 1.68rem;
	vertical-align: middle;
}
.goods_shop_bar .info .tel span{
	vertical-align: middle;
}
.goods_shop_bar .btn_block{
	display: table-cell;
	vertical-align: middle;
	padding: 0px 0px 0px 14px;
	overflow: hidden;
	text-decoration: none;
	color: #474747;
	margin: 0px;
}
.goods_shop_bar .btn_block .icon{
	display: table-cell; line-height:29px;
	text-align: center; vertical-align:middle;
	font-size: 1.3rem;
	color: #919191;
}
.goods_shop_bar .btn_block .icon img{
	width: 1.8rem;
	display: block;
	margin: 0px auto;
}
.goods_shop_bar .btn_block .btn{
	display: table-cell; padding-right:14px; padding-top:4px;
}
.goods_shop_bar .btn_block .btn img{
	width: 1.6rem;
	margin-left: 4px;
	padding: 2px 0px 0px 0px;
	vertical-align: inherit;
}

.goods_detail_bar{
	border-top: 1px solid #e3e3e3;
	display: block;
	width: 100%;
	background: white;
	padding: 0px;
	margin: 4px 0px 4px 0px;
}
.goods_detail_bar .tab{ 
	display: block;
	
	padding: 0px;
	padding-left:16px;
	margin: 0px;
	zoom: 1; overflow: hidden;		/* 清除浮动 */
	border-bottom: 0px solid #e1e1e1;
	white-space: nowrap;
}
.goods_detail_bar .tab .item{
	width: 48%;
	padding: 0px;
	margin: 0px;
	height: 40px;
	zoom: 1; overflow: hidden;		/* 清除浮动 */
	text-align: center;
	text-decoration: none;
	font-size: 1.4rem;
	line-height: 40px;
	color: #474747;
	display: block;
	white-space: nowrap;
	float: left;
}
.goods_detail_bar .tab .item_full{
	width: 100%;
	padding: 0px;
	margin: 0px;
	height: 40px;
	zoom: 1; overflow: hidden;		/* 清除浮动 */
	text-align: center;
	text-decoration: none;
	font-size: 1.4rem;
	line-height: 40px;
	color: #3c3c3c;
	display: block;
	white-space: nowrap;
}
.goods_detail_bar .tab .rborder{
	border-right: 0px solid #e1e1e1;
}
.goods_detail_bar .tab .left{
	text-align: left;
	padding: 0px 0px 0px 12px;
}
.goods_detail_bar .tab .danger{
	color: #ff3000;
}
.goods_detail_bar .tab .active{
	border-bottom: 2px solid #ff9c9c;
}
.goods_detail_bar .detail_block{
	display: block;
}
.goods_detail_bar .comment_block{
	display: none;
}
.goods_detail_bar .detail_content{
	font-size: 1.4rem;
	color: #474747;
	margin: 0px;
	padding: 14px 14px 12px 14px;
}
.goods_detail_bar .img_block{
	margin: 0px;
	padding: 8px 0px 0px 0px;
}
.goods_detail_bar .img_block img{
	display: block;
	width: 100%;
	margin: 0px auto 0px auto;
	border: none;
}
.goods_detail_bar .comment_block .status{
	padding: 20px 0px 8px 0px;
	text-align: center;
	margin: 0px;
}
.goods_detail_bar .comment_block .status .btn{
	padding: 6px 3px 6px 3px;
	text-align: center;
	text-decoration: none;
	color: #474747;
	font-size: 1.2rem;
	border: 1px solid #cbcbcb;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	white-space: nowrap;
	margin: 1px 0px 1px 0px;
}
.goods_detail_bar .comment_block .status .active{
	background: #cbcbcb;
	color: white;
}
.goods_detail_bar .comment_block .status .btn span{
	vertical-align: middle;
}
.goods_detail_bar .comment_block .status .btn img{
	border: none;
	width: 1.2rem;
	vertical-align: middle;
	margin: 0px 2px;
}
.goods_detail_bar .comment_block .comment{
	padding: 6px 14px 4px 14px;
	margin: 0px;
}
.goods_detail_bar .comment_block .info{
	padding: 4px 0px 4px 0px;
}
.goods_detail_bar .comment_block .info img{
	border: none;
	width: 1.2rem;
	vertical-align: middle;
}
.goods_detail_bar .comment_block .info .user{
	width: 1.2rem;
	vertical-align: middle;
	text-decoration: none;
	color: #474747;
	padding: 0px 2px 0px 2px
}
.goods_detail_bar .comment_block .info .time{
	width: 1.2rem;
	vertical-align: middle;
	color: #999999;
	padding: 0px 2px 0px 2px
}
.goods_detail_bar .comment_block .content{
	padding: 4px 0px 14px 0px;
	font-size: 1.4rem;
	color: #474747;
}
.open_bar{
	text-align: center;
	margin: 0px 0px 2rem 0px;
}
.open_bar .content{
	padding: 5px 20px 5px 20px;
	font-size: 1.3rem;
	text-align: left; color:#000000; line-height:1.6rem;
}
.open_bar{
	display: block;
    line-height: 3.4rem;
	color: white;
	margin: 0px auto;
	text-decoration: none;

}
/* ------------------------------------------------ 底部开店 ------------------------------------ */
.bottom-nav{margin-bottom: 13px;background-color: #f7f6f6; height: 3.4rem; border-top:#e8e7e7 1px solid; border-bottom:#e8e7e7 1px solid;}
.bottom-nav ul{ list-style:none; margin:0; padding:0}
.bottom-nav ul li{ float:left; width:33.1%;display: block;font-size: 1.3rem;color: #343434;text-align: center; border-right:1px solid #808080; height:1.4rem; margin-top:1rem; margin-bottom:1rem; line-height:1.4rem;}
.bottom-nav ul li a{font-size: 13px;color: #343434;text-align: center; text-decoration:none;height:1.4rem; line-height:1.4rem;}
.bottom-nav ul li.qubian{ border-right:none;}

.goods_btn_mfkysd{background:#C33; height:3.5rem;  line-height:3.5rem; margin:0 15px 15px 15px; font-size:1.6rem; border-radius:3px;}
.goods_btn_mfkysd a{color:#ffffff; text-decoration:none;}
.goods_btn_bar{
	display: block;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 1;
	zoom: 1; overflow: hidden;		/* 清除浮动 */
	white-space: nowrap;
	overflow: hidden;
	background:#C33;
	width: 100%;
	padding: 6px 0% 2px 0%;
}
.goods_btn_bar a{
	text-decoration: none;
}
.goods_btn_bar .cart_button{
	float: left;
	width: 15%;
	display: block;
	text-align: center;
}
.goods_btn_bar .cart_button img{
	height: 40px;
	margin: 0px;
	border: none;
}
.goods_btn_bar .man_button{
	float: left; padding-left:3%;
	width: 15%;
	display: block;
	text-align: center;
}
.goods_btn_bar .man_button img{
	height: 40px;
	margin: 0px;
	border: none;
}
.goods_btn_bar .add_cart_button{
	float: left;
	width: 30%;
	display: block;
	height: 40px;
	background: white;
	color: #ff9701;
	font-size: 1.6rem;
	line-height: 40px;
	text-align: center;
	
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0px 1% 0px 0px;
}
.goods_btn_bar .buy_button{
	float: left;
	width: 30%;
	display: block;
	height: 40px;
	background: white;
	color: #ff9701;
	font-size: 1.6rem;
	line-height: 40px;
	text-align: center; margin-right:3%;
	
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0px 0px 0px 1%;
}

.goods_btn_bar .buy_button1{
	float: left;
	width: 61%;
	display: block;
	height: 40px;
	background: white;
	color: #ff9701;
	font-size: 1.6rem;
	line-height: 40px;
	text-align: center;
	
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0px 0px 0px 1%;
}







.goods_btn_bar .buy_button_full{
	float: left;
	width: 76%;
	display: block;
	height: 40px;
	background: white;
	color: #ff9701;
	font-size: 1.6rem;
	line-height: 40px;
	text-align: center;
	
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	margin: 0px 1% 0px 1%;
}
.goods_btn_placeholder_bar{
	display: block;
	width: 100%;
	height: 50px;
}

.img_view_bar{
	z-index: 4;
	display: none;
}
.img_view_bar_bg{
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	background: black;
	z-index: 5;
}
.img_view_bar_container{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	z-index: 6;
}
.img_view_bar_container img{
	width: 100%;
	height: auto;
	z-index: 7;
	vertical-align: middle;
}
.img_view_bar_btn_left{
	position: fixed;
	left: 16px;
	top: 42%;
	display: block;
	z-index: 8;
}
.img_view_bar_btn_left a img{
	width: 6rem;
}
.img_view_bar_btn_right{
	position: fixed;
	right: 16px;
	top: 42%;
	display: block;
	z-index: 8;
}
.img_view_bar_btn_right a img{
	width: 6rem;
}

.standard_bar{
	position: fixed;
	display: none;
	height: 100%;
	width: 100%;
	z-index: 2;
	top: 0px;
	left: 0px;
}
.standard_bar .standard{
	padding: 0px 0px 0px 0px;
	overflow: hidden;
}
.standard_bar .standard .line{
	padding: 8px 0px 10px 0px;
}
.standard_bar .standard .tag{
	font-size: 1.4rem;
	padding: 4px 6px 4px 6px;
}
.standard_bar .standard .item{
	text-decoration: none;
	color: black;
	border: 1px solid #b6b6b6;
	padding: 4px 8px 4px 8px;
	margin: 0px 2px 0px 2px;
}
.standard_bar .bg{
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.5;
	top: 0px;
	left: 0px;
	z-index: 3;
}
.standard_bar .panel{
	border-bottom: 1px solid #e3e3e3;
	display: block;
	background: white;
	padding: 0px 0px 2px 0px;
	margin: 0px 0px 4px 0px;
	overflow: hidden;
	position: absolute;
	z-index: 4;
	width: 100%;
	left: 0px;
	bottom:0px;
}
.standard_bar .center{
	text-align: center;
}

.standard_bar .gaod{ padding:10px 0px; padding-left:20%; height:4.2rem;background:#F5F5F5;border-top:#CED3D7 1px solid;}


.standard_bar .box{
	display: inline-block;
}
.standard_bar .shuxing{padding-left:4%; height:3rem; line-height:3rem; text-align:left;color:#848484; clear:both;}
.standard_bar .yansxz{height: auto; padding-left:4%;}
.standard_bar .yansxz .xzys{height:2rem; float:left;   line-height:2rem; padding:0px 10px; border:#A5A7AB 1px solid;margin-right:10px; margin-bottom:10px;}
.standard_bar .yansxz .xzys a{ text-decoration:none;color:#9A9A9A;}
.standard_bar .yansxz .active{float:left; background: url(../images/w_2_03.png) no-repeat right bottom;padding:0px 10px; border:#fd6946 1px solid;margin-right:10px; background-size:10px;height:2rem; line-height:2rem;}



.standard_bar .row-box{
	display: block;
	overflow: hidden;
	text-decoration: none;
	color: #848484;
	font-size: 1rem; line-height:2.5rem
	
	margin: 0px 4%;
}


.standard_bar .row{border-bottom
:1px solid #ced3d7;
	padding: 10px 4% 10px 4%;
	overflow: hidden;
}
.standard_bar .thumb{
	width: 4.2rem;
	height: 4.2rem;
	vertical-align: middle;float:left;
}
.standard_bar .thumb img{ width:4.2rem; height:4.2rem;}
.standard_bar .btn_close{
	float: right;
}
.standard_bar .btn_close img{
	width: 1.8rem;
	height: 1.8rem;
	border: none;
	padding: 0px;
	vertical-align: text-top;
}
.standard_bar .info{
	vertical-align: middle;
	padding: 0px 10px 0px 10px; float:left;
}
.standard_bar .price{
	font-size: 1.4rem;
	color: #ff6666;
}
.standard_bar .gray{
	font-size: 1.2rem;
	color: #848484;
}
.standard_bar .panel .button{
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 92%;
	margin: 0px auto;
	border: none;
	height: 3rem;
	font-size: 1.4rem;
	line-height: 3rem;
}
.standard_bar .panel .button2{
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 35%;  float:left;
	margin: 0px auto;margin-right:15px;
	border: none;
	height: 4rem;
	font-size: 1.4rem;
	line-height: 4rem;
}
.standard_bar .panel .gwcjs{color:#ffffff; background:#C33}



.standard_bar .panel .primary{
	color: white;
	background: #ff9900;
}
/* ------------------------------------------------ 商品详情 ------------------------------------ */


/* ------------------------------------------------ 回到顶部 ------------------------------------ */
.widget-gotop {
    display: none;
    position: fixed;
    bottom: 65px;
    right: 15px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.48);
    border-radius: 50%;
    overflow: hidden;
    z-index: 500;
}
.widget-gotop .icon-gotop {
    display: inline-block;
    width: 44px;
    height: 44px;
    line-height: 63px;
    font-size: 10px;
    color: #FFF;
    text-align: center;
    border-radius: 50%;
    background: url(../images/icon_good_up.png) no-repeat scroll center 6px;
	-webkit-background-size: 15px auto;
    background-size: 15px auto;
}
.widget-gotop a{text-decoration:none;}




/****************商品轮播*****************************/
.main_visual{ width:100%;position:relative;}
.main_image{width:100%;position:relative; height:220px; overflow:hidden;}
.main_image ul{overflow:hidden;position:absolute;top:0;left:0}
.main_image ul li{float:left;width:100%; margin-top:-20px}
.main_image ul li span{display:block;width:100%; height:220px; overflow:hidden;}
.main_image ul li a{display:block;height:260px;  }
 .main_image ul li a img{   width: 100%;
    max-width: 100%; height:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}



div.flicking_con{  height:21px;position: absolute; float:left; left:50%; top:180px; z-index:2; text-align:center;  }
div.flicking_con a{position: relative; float:left; right:50%;width:21px;height:21px;margin:0;padding:0;background:url('../images/btn_main_img.png') 0 0 no-repeat;display:block;text-indent:-1000px}
div.flicking_con a.on{background-position:0 -21px}

.gray_solid{
	
	margin: 0px;
	padding: 0px;
	border: none;
	border-bottom: 1px solid #e1e1e1;
	height: 0px;
}

.page_go{
	background: rgba(0, 0, 0, 0) url(/images/sale/page_go_pressed.png) no-repeat scroll 0 0 / 0.5625em 1em;
}

