html,
body {
    height: 100%;
    font-size:12px;
    padding:0px;
    margin:0px;
    font-family: "STHeiti","Microsoft YaHei";
}

.center {text-align:center;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
a { text-decoration: none;font-size:12px;}
a:hover {
    
}
.breadcrumb{
    font-size:12px;
    background-color: #edf6fa;
    height: 41px;
    line-height: 40px;  
    padding-left: 30px;  
    border-bottom: 2px solid #d7e4ea;
    margin:0px;
    padding:0px;
    padding-left:30px;
}


.breadcrumb li{
    list-style-type: none;
    float:left;
}

.breadcrumb li a{
    font-weight: bold;
    text-decoration: none;
    padding-right: 10px;
    margin-right:5px;
    background:url(../images/breadcrumbsplit.png) no-repeat right center;
}

.btn {
    min-width:95px;
    display:inline-block;
    *display:inline-block;
    height: 30px;
    line-height: 30px;
    background-color:#0096c5;
    padding:0px 10px;
    text-decoration:none;   
    border-radius: 5px;
    border:0px solid #dfe5e4;
    color:#fff;
    text-align:center;
    
    background-image: linear-gradient(top,#009ac7 0%,#0090c2 100%);
    background-image: -ms-linear-gradient(left, #009ac7 0%,#0090c2 100%); /* ie10 */
    background-image: -moz-linear-gradient(top, #009ac7, #0090c2); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #009ac7), color-stop(1, #0090c2)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ac7', endColorstr='#0090c2', GradientType='0'); /* IE*/   
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#009ac7, endColorstr=#0090c2)";/*IE8+*/

}

.btn:hover{
    color:#fff;
    background-image: -moz-linear-gradient(top, #0090c2, #009ac7); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0,#0090c2 ), color-stop(1, #009ac7)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0090c2', endColorstr='#009ac7', GradientType='0'); /* IE*/   
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#0090c2, endColorstr=#009ac7)";/*IE8+*/
}

.btn_gray{
    background-color:#d2d6d5;
    color:#000;
    background-image: linear-gradient(top,#d2d6d5 0%,#d0d6d6 100%);
    background-image: -ms-linear-gradient(left, #d2d6d5 0%,#d0d6d6 100%); /* ie10 */
    background-image: -moz-linear-gradient(top, #d2d6d5, #d0d6d6); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d2d6d5), color-stop(1, #d0d6d6)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d2d6d5', endColorstr='#d0d6d6', GradientType='0'); /* IE*/   
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#d2d6d5, endColorstr=#d0d6d6)";/*IE8+*/
}

.btn_gray:hover{
    color:#000;
    background-image: linear-gradient(top,#d0d6d6 0%,#d2d6d5 100%);
    background-image: -ms-linear-gradient(left, #d0d6d6 0%,#d2d6d5 100%); /* ie10 */
    background-image: -moz-linear-gradient(top, #d0d6d6, #d2d6d5); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #d0d6d6), color-stop(1, #d2d6d5)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d6d6', endColorstr='#d2d6d5', GradientType='0'); /* IE*/   
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#d0d6d6, endColorstr=#d2d6d5)";/*IE8+*/
}

.btn_large{
    min-width: 150px;
    text-align:center;
    height: 35px;
    line-height: 35px;
    font-size:14px;
    font-weight: bold;
    
}

.btn-success{
    
}
.button_link{
    color:#fff;
    display:inline-block;
    *display:inline-block;
    height: 25px;
    line-height: 25px;
    background-color:#0096c5;
    padding:0px 10px;
    border-radius: 5px;
    border-width:0px;
}

button_link:hover,.button_link:link{
    color:#fff;   
}

.button_link i{
    
    margin-right:5px;
   
}
.float-left{
    float:left;
}

.float-right{
    float:right;
}

.h1div{
    border-bottom:1px solid #dfe5e4;
    margin-top:8px;
    margin-bottom: 8px;
    padding:2px 10px;
    height: 32px;
    line-height: 32px;   
    *height:32px;
    
}

.h1div .title{
    font-size:16px;   
}
.form-input {
    background:#fff url(../images/textinput_bk.png) repeat-x left top;
    height:25px;
    line-height:25px;
    border:1px solid #a5b5b6;
    border-right:1px solid #cfdbdd;
    border-bottom:1px solid #cfdbdd;
    width:300px;
}
.input-tip{
    color:#b9b8b6;
}
.form-textarea{
    width:300px;
    height:100px;
   
}
.form-select{
    background:#fff url(../images/textinput_bk.png) repeat-x left top;
    height:25px;
    line-height:25px;
    border:1px solid #a5b5b6;
    border-right:1px solid #cfdbdd;
    border-bottom:1px solid #cfdbdd;
}
.table_edit{    
    width:100%;
}

.table_edit td{
    padding:8px 10px;
}
.table_edit .td-content{
    vertical-align: middle;
}

.table_edit .td-column{
    vertical-align: middle;
    padding:5px 10px;
    padding-right:30px;
    text-align:right;
}

.table_view{
    border:1px solid #c3c3be;
    width:100%;
    border-collapse:collapse;
}
.table_view td{
     
    padding:8px 10px;
}
.table_view .td-column{
    text-align:right;
    background-color:#f6f8f9;
    border:1px datted #c3c3be;
   
    
}
/****** validation *****/
label.has-error{
    color:#ff0000;
    padding:0px 5px;
}
input.has-error{
    background-color: #fbeeee;
    background-image: none;
}
.error-summary{
    background-color:#fbeeee;
    padding:10px;
    border:1px solid #fdc5c5;
    border-radius: 5px;
    margin:5px 0px;
}
/**** gridview ****/
.table,.table-striped,.table-bordered{
    width:100%;
    border-collapse: collapse;
    border:1px solid #cfcbc6;
}

.table thead tr{
    background-color:#f0f5f6;
}

.table thead tr th{
    border-width:0px;
    height: 34px;
    line-height:34px;
    border-bottom:1px solid #b3cbce;
    text-align:left;
    padding-left:12px;
}

.table tbody td{
    padding:8px 12px;
    border-right:1px dotted #c3c3be;
}

.table .oddtr{
    background-color:#f5f8f9;
}
/******grid ***************/
.grid-view .summary {float:left;height: 28px;line-height:28px;margin:12px auto;}
.pagination { float:right;}
.pagination li {list-style-type:none; display:inline-block;*display:inline;*zoom:1;padding:0px;margin:0px;border:1px solid #e3e1de;}
.pagination li a,.pagination li span {display:block;padding:5px 10px;color:#006ca7;}
.pagination li.pre {}
.pagination li.active { background-color:#f6f5f4;}


/************* tab *************/
.etabs{
    padding:0px;
    margin:0px;
    list-style:none;
    border-bottom:1px solid #d0e0e3;
    padding-left:15px;
}
.etabs li.tab{
    display: inline-block;
    *display:inline;
    *zoom:1;   
    background-color:#f5f7f8;
    border-top:3px solid #fff;
    
}
.etabs li.tab.active{
    background-color:#fff;
    border-top:3px solid #11ccf3;
    position:relative;
    top:2px;
    border-bottom:1px solid #fff;
}

.etabs li.tab a{
    display:block;
    padding:5px 20px;
    border:1px solid #d5dddc;
    border-bottom-color:transparent;
    margin-left:-1px;
    height: 25px;
    line-height:25px;
}

.etabs li.tab.active a{
    border-bottom:0px solid #fff;
}

.model_view{}
.view_title{ border-bottom:1px solid #d0e0e3;margin:0px;padding-bottom: 2px;margin:8px 0px;}
.view_title .con{font-size:16px;border-bottom:3px solid #11ccf3;}


/******* mydialog **********/
.mydialog{
    min-width:300px;
    min-height:150px;
    *border:1px solid #d3d0cb;
    width:500px;
    box-shadow: 0px 0px 12px #888;
    text-align:left;
    display: none;
    background-color:#fff;
}

.mydialog .mydialog-title{
    height: 40px;
    color:#fff;
    line-height:40px;
    padding-left:10px;
    font-size:16px;
    font-weight: bold;
    background-image: linear-gradient(top,#009ac7 0%,#0090c2 100%);
    background-image: -ms-linear-gradient(left, #009ac7 0%,#0090c2 100%); /* ie10 */
    background-image: -moz-linear-gradient(top, #009ac7, #0090c2); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #009ac7), color-stop(1, #0090c2)); /* Saf4+, Chrome */    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009ac7', endColorstr='#0090c2', GradientType='0'); /* IE*/   
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#009ac7, endColorstr=#0090c2)";/*IE8+*/ 
}

.mydialog-close{
    background:url(../images/mydialog_close.png) no-repeat left center;
    display: inline-block;
    *display:inline;
    *zoom:1;   
    width:23px;
    height:23px;
    float:right;
    position:relative;
    top:8px;
    margin-right:8px;
}

.mydialog-content{
    padding:8px;
    overflow: auto;
    position:relative;
}

.hidden { display: none;}
.td_tip{
    color:#d3d0cb;
}